<div class="card border-0 rounded-4 shadow-sm">
  <div class="card-header bg-white border-bottom-0 p-4 d-flex flex-wrap justify-content-between align-items-center gap-3">
    <div>
      
    </div>
    <button class="btn btn-success rounded-pill px-4 fw-medium shadow-sm d-flex align-items-center gap-2"
          (click)="saveConnections()"> Guardar cambios
    </button>
  </div>

  <div class="card-body p-4 bg-light rounded-bottom-4">

      @for (appRole of matrixData; track appRole.pidrol) {
        <div class="bg-white p-4 rounded-4 shadow-sm mb-4 border">
          <h6 class="fw-bold mb-3 text-dark d-flex align-items-center gap-2">
            <i class="bi bi-shield-lock-fill text-primary fs-5"></i> Rol App: {{ appRole.prol }}
          </h6>

          <div class="row g-3">
            @for (connection of appRole.grolesconection; track connection.pidgrol) {
              <div class="col-md-6 col-lg-4">

                <div class="p-3 border rounded-3 d-flex justify-content-between align-items-center transition-all bg-light-hover"
                    [ngClass]="{'border-success bg-success-subtle': connection.prelacion}">
                  <div>
                    <span class="fw-bold d-block text-dark small">{{ connection.pgrol }}</span>
                    <small class="text-muted" style="font-size: 0.7rem;">{{ connection.pgdescripcion }}</small>
                  </div>
                  <div class="form-check form-switch fs-5 mb-0">

                    <input class="form-check-input shadow-none cursor-pointer" type="checkbox" role="switch"
                          [checked]="connection.prelacion"
                          (change)="toggleRole(connection, $event)">

                  </div>
                </div>

              </div>
            }
          </div>
        </div>
      }
  </div>
</div>
