<div class="container-fluid p-0">

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h2 class="fw-bold text-dark mb-1">Gestión de Usuarios</h2>
      <p class="text-muted mb-0">Administra las cuentas</p>
    </div>
    <button type="button" class="btn btn-success rounded-pill px-4 fw-medium shadow-sm d-flex align-items-center gap-2"
            (click)="prepareCreate()">
      <i class="bi bi-plus-lg fw-bold"></i> Nuevo Usuario
    </button>
  </div>

  <div class="card border-0 rounded-4 shadow-sm">
    <div class="card-body p-4">
      <app-admin-user-table [users]="users" (editUser)="prepareEdit($event)"></app-admin-user-table>
    </div>
  </div>

</div>

<app-admin-user-create-modal [userIdToEdit]="selectedUserId" (userCreated)="loadUsers()"></app-admin-user-create-modal>
