.icon-kpi{
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
}

.enabled-schemas{
  letter-spacing: 0.05em;
}

.icon-tables{
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
}

.p-subtitle-tables{
  letter-spacing: 0.05em;
}

.icon-access-all{
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
}

.p-tables-access{
  letter-spacing: 0.05em
}
